body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: none !important; /* Override simple css */
    background: none !important; /* Override simple css */
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.header-right a, h1 a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.test-section {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.test-container {
    display: flex;
    width: 100%;
}

.test-container > div {
    text-align: center;
}

.separator {
    width: 1px;
    background-color: #FFB300;
    height: auto;
    margin: 0 36px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

video {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    background-color: #000;
}

audio {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 10px;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
    border: none !important; /* Override simple css */
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }
    
    .test-section {
        flex-direction: column;
        align-items: center;
    }

    .test-container {
        flex-direction: column;
        align-items: center;
    }

    .separator {
        width: 80%;
        height: 1px;
        margin: 20px 0;
    }

    video, audio {
        max-width: 100%;
    }

    footer {
        position: relative;
    }
}
